body{
  margin: 0%;
}
.App {
  margin: 0px 15%;
  text-align: center;
  background-color: black;
}

.header{
  height: 70px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h2{
  margin-left: 10px;
  color: white;
}
.card{
  margin: 40px 40px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: white;
}

.card-content{
    margin-left: 20px;
    display: flexbox;
    text-align: left;
    justify-content: left;
}
span{
  margin-left: 10px;
}
.card-content a{
  margin-left: 10px;
  color: #918E9B;

}
.card-content h1 h5 p {
  margin: 0%;
}
.footer{
  height: 50px;
  background-color: #F55A5A;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}