body{
  margin: 0%;
}
.App {
  margin: 0px 15%;
  text-align: center;
  background-color: black;
}

.header{
  height: 70px;
  background-color: #F55A5A;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header h2{
  margin-left: 10px;
  color: white;
}
.card{
  margin: 40px 40px;
  display: flex;
  align-items: flex-start;
  gap: 10px;
  color: white;
}

.card-content{
    margin-top: 10px;
    margin-left: 20px;
    display: flexbox;
    text-align: left;
    justify-content: left;
}
span{
  margin-left: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.17em;
}
.card-content a{
  
  margin-left: 10px;
  color: #918E9B;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

}
.card-content h1 h5 p {
  margin: 0%;
}
.card-content h1{
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 30px;
  color: #746e92;
}
.card-content h5{
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
}
.card-content p{
  margin-right: 100px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.footer{
  height: 50px;
  background-color: #F55A5A;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}